@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  By defining the fonts here with corrected paths, they will be available application-wide.
  The URLs now point to the correct location within the 'public' directory.
*/

@font-face {
    font-family: 'Archivo';
    src: url('/source/fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Extra Condensed Bold';
    src: url('/source/fonts/Archivo/static/Archivo_ExtraCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Extra Condensed SemiBold';
    src: url('/source/fonts/Archivo/static/Archivo_ExtraCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Condensed Bold';
    src: url('/source/fonts/Archivo/static/Archivo_Condensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Condensed Regular';
    src: url('/source/fonts/Archivo/static/Archivo_Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Semi Condensed Bold';
    src: url('/source/fonts/Archivo/static/Archivo_SemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Semi Condensed SemiBold';
    src: url('/source/fonts/Archivo/static/Archivo_SemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Semi Condensed Regular';
    src: url('/source/fonts/Archivo/static/Archivo_SemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Expanded Regular';
    src: url('/source/fonts/Archivo/static/Archivo_Expanded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Expanded Bold';
    src: url('/source/fonts/Archivo/static/Archivo_Expanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Semi Expanded Bold';
    src: url('/source/fonts/Archivo/static/Archivo_SemiExpanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Bold';
    src: url('/source/fonts/Archivo/static/Archivo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('/source/fonts/Gotham/Gotham-Bold.otf') format('opentype'),
         url('/source/fonts/Gotham/Gotham-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/source/fonts/Gotham/Gotham-Book.otf') format('opentype'),
         url('/source/fonts/Gotham/Gotham-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN';
    src: url('/source/fonts/D-DIN/D-DIN.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN Bold';
    src: url('/source/fonts/D-DIN/D-DIN-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN Italic';
    src: url('/source/fonts/D-DIN/D-DIN-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'D-DIN Condensed';
    src: url('/source/fonts/D-DIN/D-DINCondensed.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN Condensed Bold';
    src: url('/source/fonts/D-DIN/D-DINCondensed-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN Exp';
    src: url('/source/fonts/D-DIN/D-DINExp.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN Exp Bold';
    src: url('/source/fonts/D-DIN/D-DINExp-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN Exp Italic';
    src: url('/source/fonts/D-DIN/D-DINExp-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Crook';
    src: url('/source/fonts/Crook/cookconthic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


body {
    @apply bg-black text-gray-300 font-archivo;
    min-height: 100vh;
  }
  
/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
width: 8px;
}
::-webkit-scrollbar-track {
background: #050505; 
}
::-webkit-scrollbar-thumb {
background: #333; 
border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
background: #DAA520; 
}

.text-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
}