node_modules
.env

# Data files - contain runtime/user data
client/public/source/data/
public/source/data/
**/source/data/
client/dist/index.html
client/package-lock.json
package-lock.json
client/dist/index.html
